<div class="container">
  <div class="row">
    <div class="col-9 display-item">
      <div class="row">
        <div class=" col-9 title">
          {{ this.workItem.title }}
        </div>
        <div class=" col-3 work-item-status">
          <a class="btn btn-success float-center" [routerLink]="['/pullRequests/edit/1001']"
            >Edit</a
          >
          <button type="button" class="btn btn-info float-right">
            {{ workItem.workItemStatus.status }}
          </button>
        </div>
      </div>
      <hr />
      <div class="content" [innerHTML]="workItem.description"></div>
    </div>

    <div class="col-3 display-review-details">
      <div class="assignee">Author</div>
      <div class="assignee-name">{{ workItem.author.username }}</div>
      <hr />
      <div class="reviewers">Reviewers</div>
      <div class="row" *ngFor="let review of workItem.reviews">
        <div class="col reviewer-name">
          {{ review.username }}
        </div>
        <div class="col">
          <i
            class="fas fa-check-circle"
            *ngIf="review.status === 'accepted'"
          ></i>
          <i
            class="fas fa-times-circle"
            *ngIf="review.status === 'rejected'"
          ></i>
          <i
            class="fas fa-exclamation-circle"
            *ngIf="review.status === 'request_changes'"
          ></i>
          <i class="fas fa-circle" *ngIf="review.status === 'pending'"></i>
        </div>
      </div>
      <hr />
      <div class="tags">Tags</div>
      <div class="tag-name" *ngFor="let tag of workItem.tags">
        {{ tag.name }}
      </div>
      <hr />
      <div class="team">Team</div>
      <div class="team-name">
        {{ workItem.team.teamName }}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-9">
      <display-comment [comments]="workItem.comments"></display-comment>
    </div>
  </div>
</div>
<item-comment
  [isReviewer]="isReviewer"
  (commentEmiter)="onCommentSubmition($event)"
>
</item-comment>
0
