<div class="container">
  <h4>Create New Work Item</h4>
  <form [formGroup]="createWorkItemForm" (ngSubmit)="createWorkItem()">
    <div class="row">
      <div class="col-8">
        <div class="form-group">
          <input
            formControlName="title"
            [(ngModel)]="title"
            type="text"
            class="form-control"
            id="exampleInputEmail1"
            name="title"
            placeholder="Work item title"
          />
        </div>
        <div
          *ngIf="
            this.createWorkItemForm.controls.title.invalid && this.isSubmitted === true
          "
          class="invalid-input"
        >
          Title is required!
        </div>
        <div class="form-group">
          <!-- <div
            [froalaEditor]="options"
            [(froalaModel)]="editorContent"
            class="froala"
          ></div> -->
          <textarea 
          [froalaEditor]="options" 
          formControlName="editorModel"
    
          class="froala"
          ></textarea>
          <div
          *ngIf="
            this.createWorkItemForm.controls.editorModel.invalid && this.isSubmitted === true
          "
          class="invalid-input"
        >
          Description is required (at least 10 characters)!
        </div>
        </div>
        <div class="form-group">
          <button class="btn btn-success" type="submit" name="submit">
            Create Work Item
          </button>
        </div>
      </div>
      <div class="col-4">
        <div class="form-group">
          <div
            class="btn-group  w-100"
            ngbDropdown
            role="group"
            aria-label="Button group with nested dropdown"
          >
            <button
              type="button"
              #ref
              class="btn btn-outline-primary"
              ngbDropdownToggle
            >
              {{ this.chosenTeam }}
            </button>
            <div class="dropdown-menu" ngbDropdownMenu>
              <button
                type="button"
                *ngFor="let team of userTeams"
                ngbDropdownItem
                (click)="changeTeam(team, ref)"
              >
                {{ team.teamName }}
              </button>
            </div>
            
          </div>
          <div
              *ngIf="
                this.isSubmitted === true && this.chosenTeam==='Choose a team.'
              "
              class="invalid-input"
            >
              Team is required!
            </div>
        </div>
        <div class="form-group">
          <ng-template #rt let-r="result" let-t="term">
            <img [src]="r.avatarURL" class="mr-1" style="width: 16px" />
            <ngb-highlight [result]="r.username" [term]="t"></ngb-highlight>
          </ng-template>

          <label for="typeahead-template">Search for a user:</label>
          <input
            id="typeahead-template"
            formControlName="reviwer"
            type="text"
            class="form-control"
            name="username-search"
            [(ngModel)]="model"
            [ngbTypeahead]="search"
            [resultTemplate]="rt"
            [inputFormatter]="formatter"
          />
          <button type="button" class="btn btn-success add-button" (click)="addUsername()">
            Add
          </button>

          <reviewer-item
            *ngFor="let currentReviewer of addedUsernames"
            [reviewer]="currentReviewer"
            (removeUser)="removeReviewer($event)"
          >
          </reviewer-item>
        </div>
        <div class="form-group">
          <ng-multiselect-dropdown
            formControlName="tagControl"
            name="search-tag"
            [placeholder]="'Add tags'"
            [data]="tags"
            [(ngModel)]="selectedItems"
            [settings]="dropdownSettings"
            (onSelect)="onItemSelect($event)"
            (onSelectAll)="onSelectAll($event)"
          >
          </ng-multiselect-dropdown>
        </div>
      </div>
      <!-- <div>
        <button class="btn btn-success" (click)="showValue()">Show Values</button>
    </div> -->
    </div>
  </form>
</div>
