<h2>Create new Work Item</h2>

<form>
    <div class="form-group">
        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Work item title">
    </div>
    <div class="form-group">
        <div [froalaEditor]='options' [(froalaModel)]="editorContent"></div>
    </div>
    <div class="form-group"> 
        <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
            <button class="btn btn-outline-primary" ngbDropdownToggle>Choose a team</button>
            <div class="dropdown-menu" ngbDropdownMenu>
                <button ngbDropdownItem>Team1</button>
                <button ngbDropdownItem>Team2</button>
            </div>
        </div>
    </div>
    <div class="form-group">
        <ng-template #rt let-r="result" let-t="term">
            <img [src]="r.avatarURL" class="mr-1" style="width: 16px">
            <ngb-highlight [result]="r.username" [term]="t"></ngb-highlight>
          </ng-template>
          
          <label for="typeahead-template">Search for a state:</label>
          <input id="typeahead-template" type="text" class="form-control" name="username-search" [(ngModel)]="model" [ngbTypeahead]="search" [resultTemplate]="rt"
            [inputFormatter]="formatter" />
          <hr>
          <pre>Model: {{ model | json }}</pre>
          <button class="btn btn-success" (click)="addUsername()">Add user</button>
          <pre> added users: {{ addedUsernames | json}}</pre>
    </div>
    <div>
        <ng-multiselect-dropdown
            name="search-tag"
            [placeholder]="'Add tags'"
            [data]="dropdownList"
            [(ngModel)]="selectedItems"
            [settings]="dropdownSettings"
            (onSelect)="onItemSelect($event)"
            (onSelectAll)="onSelectAll($event)"
            >
        </ng-multiselect-dropdown>
    </div>
    <div>
        <button class="btn btn-success" (click)="showValue()">Show Values</button>
    </div>
</form>

