<div class="container">
  <div class="row">
    <div class="col-4 user-info">
      <i class="fas fa-user-circle fa-7x"></i>
      <div class="user-info">{{ currentUser.user.username }}</div>
      <div class="user-info">
        <span>{{ currentUser.user.firstName }}</span>
        &nbsp;
        <span>{{ currentUser.user.lastName }}</span>
      </div>
      <div>{{ currentUser.user.email }}</div>
    </div>
    <div class="col-8">
      <ngb-tabset #t="ngbTabset">
        <ngb-tab title="Team Invitations">
          <ng-template ngbTabContent>
            <div class="row" *ngFor="let invitation of activeInvitations">
              <div class="col-sm" class="resource-name">
                <div class="resource-name">
                  {{ invitation.name }}
                </div>
              </div>
              <div class="col-sm">
                <button
                  type="button"
                  class="btn btn-outline-success"
                  (click)="acceptInvitation(invitation)"
                >
                  Accept
                  <i class="fas fa-check"></i>
                </button>
              </div>
              <div class="col-sm">
                <button
                  type="button"
                  class="btn btn-outline-danger"
                  (click)="rejectInvitation(invitation)"
                >
                  Reject
                  <i class="fas fa-times"></i>
                </button>
              </div>
              <div *ngIf="this.invalidInput" class="invalid-input">
                Something went wrong! Try again!
              </div>
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab id="tab-selectbyid2" title="Teams">
          <ng-template ngbTabContent>
            <div *ngFor="let team of userTeams; let i = index">
              <div class="row">
                <div class="col-sm resource-name">
                  {{ team.teamName }}
                </div>
                <div class="col-sm">
                  <button
                    type="button"
                    class="btn btn-outline-success"
                    (click)="toggleInvitation(i)"
                  >
                    Invite Members
                  </button>
                </div>
                <div class="col-sm">
                  <button type="button" class="btn btn-outline-danger">
                    Leave
                  </button>
                </div>
              </div>
              <form
                [formGroup]="addTeamMembersFormArray[i]"
                class="createTeamForm"
                *ngIf="userTeamsToggles[i] === true"
                class="Invitation"
              >
                <div>
                  <label for="typeahead-format">Search for a name:</label>
                  <input
                    id="typeahead-format"
                    formControlName="member"
                    type="text"
                    class="form-control"
                    [ngbTypeahead]="search"
                    [resultFormatter]="formatter"
                  />
                  <hr />
                  <button
                    type="button"
                    (click)="
                      sendMemberInvitation(team, addTeamMembersFormArray[i])
                    "
                    class="btn btn-outline-success"
                  >
                    Send Invite
                  </button>
                  <div *ngIf="this.successfulInvitation" class="valid-input">
                    You have successfully invited this user!
                  </div>
                  <div *ngIf="this.invalidInput" class="invalid-input">
                    Something went wrong! Try again!
                  </div>
                  <div *ngIf="this.errorMessage" class="invalid-input">
                    {{ errorMessage }}
                  </div>
                </div>
              </form>
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="Make New Team">
          <ng-template ngbTabContent>
            <form
              [formGroup]="createTeamForm"
              (ngSubmit)="createTeam()"
              class="createTeamForm"
            >
              <div class="form-group">
                <label for="formGroupName">Name</label>
                <input
                  type="text"
                  formControlName="teamName"
                  class="form-control"
                  id="formGroupName"
                  placeholder="Team Name..."
                />
              </div>
              <div
                *ngIf="
                  this.createTeamForm.controls.teamName.invalid &&
                  this.isSubmitted === true
                "
                class="invalid-input"
              >
                Team name must be between 4 and 20 symbols long!
              </div>
              <div formGroupName="rule">
                <label for="formGroupRule">Team Rules</label>
                <div class="form-check">
                  <input
                    [formControl]="myCheckbox"
                    type="checkbox"
                    (change)="setRulesToDefault()"
                    class="form-check-input"
                    id="exampleCheck1"
                  />
                  <label class="form-check-label" for="exampleCheck1"
                    >Default rule</label
                  >
                </div>
                <input
                  type="number"
                  formControlName="minPercentApprovalOfItem"
                  class="form-control"
                  id="formGroupPercent"
                  placeholder="Minimum Approval Rate..."
                />
                <input
                  type="number"
                  formControlName="minNumberOfReviewers"
                  class="form-control"
                  id="formGroupReviewers"
                  placeholder="Minimal number of reviewers..."
                />
                <div
                  *ngIf="
                    this.createTeamForm.controls.rule.invalid &&
                    this.isSubmitted === true
                  "
                  class="invalid-input"
                >
                  Rules are required!
                </div>
                <div *ngIf="this.invalidInput" class="invalid-input">
                  Something went wrong! Try again!
                </div>
                <button type="submit" class="btn create-button float-right">
                  Create
                </button>
              </div>
            </form>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>
  </div>
</div>
