/* .col-4 {
    background-color: green;
} */

#formGroupPercent {
  margin-bottom: 10px;
}

.row {
  margin: 10px;
}
.user-info {
  text-align: center;
  font-size: 20px;
}

.resource-name {
  padding: 0.375rem 0.75rem;
}

.container {
  padding: 15px;
}

.create-button {
  margin-top: 15px;
  background-color: #b094aa;
}
