<div class="">
  <form
    class="comment-form"
    [formGroup]="sendReviewForm"
    (ngSubmit)="submitRequest()"
  >
    <textarea class="text-comment" formControlName="content"></textarea>
    <div class="form-check ">
      <input
        class="form-check-input"
        type="radio"
        id="inlineRadio1"
        value="comment"
        formControlName="status"
      />
      <label class="form-check-label" for="inlineRadio1">Comment</label>
    </div>
    <div *ngIf="isReviewer" class="form-check">
      <input
        class="form-check-input"
        type="radio"
        id="inlineRadio1"
        value="accepted"
        formControlName="status"
      />
      <label class="form-check-label" for="inlineRadio1"
        >Accept and comment</label
      >
    </div>
    <div *ngIf="isReviewer" class="form-check">
      <input
        class="form-check-input"
        type="radio"
        id="inlineRadio1"
        value="request_changes"
        formControlName="status"
      />
      <label class="form-check-label" for="inlineRadio1"
        >Request changes and comment</label
      >
    </div>
    <div *ngIf="isReviewer" class="form-check">
      <input
        class="form-check-input"
        type="radio"
        id="inlineRadio1"
        value="rejected"
        formControlName="status"
      />
      <label class="form-check-label" for="inlineRadio1"
        >Reject and comment</label
      >
    </div>
    <div class="form-group">
      <button type="submit" name="submit" class=" btn btn-success">
        Submit review
      </button>
    </div>
  </form>
</div>
