.comment-form {
  border: 1px solid black;
  border-radius: 4px;
}

.text-comment {
  margin: 10px;
  margin-top: 20px;
  line-height: 1.6;
  max-width: 90%;
  min-height: 100px;
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
}

.btn {
  margin-left: 40px;
}

.form-check {
  margin-left: 40px;
}
