.nav-item {
  border: 1px solid transparent;
  border-radius: 3px 3px 0 0;
  border-top: 3px solid transparent;
  color: #586069;
  float: left;
  padding: 7px 15px 8px;
  white-space: nowrap;
}
.repohead {
  background-color: #fafbfc;
  padding-bottom: 0;
  border-bottom: 1px solid #e1e4e8;
  margin-bottom: 24px;
  padding-bottom: 40px;
  padding-top: 24px;
  position: relative;
  cursor: pointer;
}
.nav-item.selected {
  background-color: #fff;
  border-color: #e36209 #e1e4e8 transparent;
  color: #24292e;
}
